# Weather Results Data

In [5]:
#Import the dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
from pprint import pprint

In [41]:
#Read in CSV file and view content
df= pd.read_csv('weather_results.csv',  index_col="City_ID")
df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
City_ID,,,,,,,,,
0,touros,0,BR,1540760838,81,-5.20,-35.46,79.65,9.75
1,lasa,20,CY,1540760400,67,34.92,32.53,60.80,8.05
2,namatanai,48,PG,1540761017,100,-3.66,152.44,81.45,1.03
3,bluff,36,AU,1540761017,81,-23.58,149.07,74.83,14.45
4,busselton,76,AU,1540761017,100,-33.64,115.35,59.44,12.88

In [44]:
# Create HTML file of the weather data with City_ID as the index
df = pd.read_csv("weather_results.csv", index_col="City_ID")
df.to_html('weather_data.html')